.main-header {
    background-color: #81e4ed;
    height: rem(500px);
}

.slider-container {
    height: 100%;
    padding-top: rem(20px);
}

.main-header__slider {
    height: rem(440px);
    width: 100%;
    background-color: #df5936;
}

.main-slider__list {
    display: flex;
}

.main-slider__item {
    min-width: rem(1000px);
    height: rem(440px);
    position: relative;

    &:nth-child(2) {
        p {
            left: rem(640px);
            top: rem(230px);
        
        }
    }

    &:nth-child(3) {
        p {
            left: rem(500px);
            top: rem(100px);
        
        }
    }

    &:nth-child(5) {
        p {
            left: rem(100px);
            top: rem(20px);
            width: rem(500px);
        }
    }
}

.main-slider__text {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: bold;
    font-size: rem(50px);
    width: rem(370px);
    position: absolute;
    left: rem(60px);
    top: rem(100px);
    margin: 0;
}