.main-header {
    background-color: #81e4ed;
    height: rem(500px);
}

.slider-container {
    height: 100%;
    padding-top: rem(20px);
}

.main-header__slider {
    height: rem(440px);
    width: 100%;
    background-color: #df5936;
    border: 2px solid green;
}

.main-slider__list {
    display: flex;
}

.main-slider__item {
    min-width: rem(1000px);
    height: rem(440px);
    background-color: seagreen;
}