.main-nav__section {
    background-color: #e8ebf1;
    height: rem(120px);
}

.main-nav__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.main-nav__menu {
    margin-right: rem(17px);
}

.main-nav__list {
    display: flex;
}

.main-nav__submenu {
    display: none;
}

.main-nav__item {
    margin-right: rem(11px);
    position: relative;
    
    &:last-child {
        margin: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
        &::before {
            content: '';
            position: absolute;
            width: rem(10px);
            height: rem(7px);
            right: rem(10px);
            top: rem(6px);
            background: url(../../img/down-arrow.png) center center / cover no-repeat;
        }
    }


    
}

.main-nav__link {
    font-size: rem(13px);
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    padding: rem(11px) rem(28px) rem(11px) rem(11px);
    &:hover {
        border-top: rem(5px) solid #2aacc8;
        background-color: #fff;
    }

    }




.main-logo__link {
    font-family: 'Myriad Pro' sans-serif;
    font-size: rem(50px);

    .first {
        color: #000000;
    }

    .second {
        color: #2aacc8;
    }
}

