.main-nav__section {
    background-color: #e8ebf1;
    max-height: rem(120px);
}

.main-nav__container {
    display: flex;
    justify-content: space-between;
}

.main-nav__list {
    display: flex;
}

.main-nav__submenu {
    display: none;
}

.main-nav__link {
    font-size: rem(13px);
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.main-logo__link {
    font-family: Myriad Pro, Regular, sans-serif;
    font-size: rem(50px);

    .first {
        color: #000000;
    }

    .second {
        color: #2aacc8;
    }
}

